
.page__footer {
    background-color: #2A9494; 
    color: white; 
  }
  

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
.darkmode-nav-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff !important;
  padding: 0 10px;
  margin-left: auto;
}

.darkmode-nav-btn:hover {
  color: #B2FFFF !important;
}
